.main-content{
    height: 700px;
    width: 1200px; 
  }

  img {
    max-width: 100%;
    max-height: 100%;
}
  
  .main-pic-region{
    width: 40%;
    background-color: #E0E0E0
  }
  .defect-pics-region{
    width: 60%
  }
  
  .defect-pic{
    background-color: #F5BCBC
  }
  
  .ok{
    border: solid green;
  }
  
  .ng
  {
    border: dashed red;
  }

  .ok-count{
    color: green;
  }

  .ng-count{
    color: red;
  }

  .statistics-data{
    background-color: rgba(187, 222, 251, 0.5);
    border-radius: 20px;
  }

  .yield-data{
    background-color: rgba(220, 237, 200, 0.5);
    border-radius: 20px;
  }
  